.cookies-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}

.cookies-card {
  background-color: #3d365c;
  color: white;
  border-radius: 20px;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  line-height: 2.75;
}

.cookies-image {
  width: 100px;
  margin-bottom: 1rem;
}

.cookies-card h1 {
  color: #f8b55f;
  margin-bottom: 1rem;
}

.cookies-card p {
  color: #e0dcef;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.accept-btn {
  background-color: #c95792;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accept-btn:hover {
  background-color: #7c4585;
}
