/* Overall dashboard container */
.dashboard-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
  height: 40vh;
}

/* Tab navigation styles */
.tabs {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}

.tab-button {
  background-color: #7c4585;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 1rem;
}

.tab-button.active {
  background-color: #f8b55f; /* Active Tab color */
}

.tab-button:hover {
  background-color: #c95792;
}

/* Tab content styles */
.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8b55f;
  border-radius: 10px;
  padding: 2rem;
  height: 100%;
}

/* Diagram styles (placeholder for chart) */
.diagram {
  width: 100%;
  height: 100%;
  background-color: #3d365c;
  border-radius: 8px;
}

.diagram img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Table Styles */

.modern-table-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background: white;
}

.modern-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Poppins', sans-serif;
  border-radius: 12px;
  overflow: hidden;
}

.modern-table thead {
  background-color: #7c4585;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.modern-table th,
.modern-table td {
  padding: 1rem 1.2rem;
  text-align: start;
  font-weight: 500;
}

.modern-table tbody tr {
  background-color: #fefefe;
  transition: background-color 0.3s ease;
}

.modern-table tbody tr:nth-child(even) {
  background-color: #f4eefc;
}

.modern-table tbody tr:hover {
  background-color: #f8b55f33;
}

.modern-table td {
  color: #3d365c;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .modern-table th,
  .modern-table td {
    font-size: 0.85rem;
    padding: 0.8rem;
  }
}
